-
	var menu = [
		{text: 'Главная', url: '#'},
		{text: 'Серийная мебель', url: 'serial-furniture.html'},
		{text: 'Заказная мебель', url: 'custom-furniture.html'},
		{text: 'Каталог материалов', url: 'catalog-materials.html'},
		{text: 'Сотрудничество', url: 'cooperation.html'}
	];
footer.footer.header.navbar-inverse
	.container
		.row.is-flex.align-center
			.col-xs-12.col-md-2.padding-off
				.row.header-contact
					.col-xs-4.col-sm-4.col-lg-12.header-contact-item
						.row
							.col-xs-4
								img.pull-right.img-icon(src="assets/img/skype.png", title="Skype", alt="Skype")
							.col-xs-8
								.phone-header skype-login
					.col-xs-4.col-sm-4.col-lg-12.header-contact-item
						.row
							.col-xs-4
								img.pull-right.img-icon(src="assets/img/viber.png", title="Viber", alt="Viber")
								img.pull-right.img-icon(src="assets/img/whats_up.png", title="Whats App", alt="Whats App")
							.col-xs-8
								.phone-header +3 097 932 86 19
					.col-xs-4.col-sm-4.col-lg-12.header-contact-item
						button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#nav-site-footer" aria-expanded="false")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
			.col-xs-12.col-md-10.collapse.nav-site#nav-site-footer(aria-expanded="false")
				.row.is-flex.align-center
					.col-xs-12.col-lg-9
						ul.nav
							each item in menu
								if item.text === 'Главная'
									li.active: a(href=item.url)= item.text
								else
									li: a(href=item.url)= item.text
					.col-xs-12.col-lg-3.padding-off
						.row.header-contact
							.col-xs-12.col-sm-4.col-lg-12.header-contact-item
								.row
									.col-xs-12
										a.btn_gauger(href="#", data-target="#product-callback", data-toggle="modal", data-mtitle="Вызов замерщика") Вызвать замерщика
//
	footer.footer
	.div_footer
		.box-footer-1
			.df-1
				.header-phone.phone-icon-h
					.header-phone-item
						img(src="assets/img/viber.png", title="Viber", alt="Viber")
						img(src="assets/img/whats_up.png", title="Whats App", alt="Whats App")
						span.phone-header.phone-footer  +3 097 932 86 19
			nav.df-2
				ul.header-menu
					each item in menu
						if item.text === 'Главная'
							li: span= item.text
						else
							li.active: a(href=item.url)= item.text
			.df-3
				a.btn_gauger(href="#", data-target="#product-callback", data-toggle="modal", data-mtitle="Вызов замерщика") Вызвать замерщика