-
	var menu = [
		{text: 'Главная', url: '#'},
		{text: 'Серийная мебель', url: 'serial-furniture.html'},
		{text: 'Заказная мебель', url: 'custom-furniture.html'},
		{text: 'Каталог материалов', url: 'catalog-materials.html'},
		{text: 'Сотрудничество', url: 'cooperation.html'}
	];
footer.footer.header.navbar-inverse
	.container
		.row.is-flex.align-center
			.col-xs-12.hidden-sm.hidden-md.hidden-lg
				.row
					.col-xs-10
						.row.header-contact
							.col-xs-6.header-contact-item
								.row
									.col-xs-4
										img.pull-right.img-icon(src="assets/img/skype.png", title="Skype", alt="Skype")
									.col-xs-8
										.phone-header skype-login
							.col-xs-6.header-contact-item
								.row
									.col-xs-4
										img.pull-right.img-icon(src="assets/img/viber.png", title="Viber", alt="Viber")
										img.pull-right.img-icon(src="assets/img/whats_up.png", title="Whats App", alt="Whats App")
									.col-xs-8
										.phone-header +3 097 932 86 19
					.col-xs-2
						button.footer-dropdown-menu.navbar-toggle.collapsed(data-toggle="collapse" data-target="#nav-site-footer" aria-expanded="false")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					.col-xs-12(style={"margin-bottom": "15px"})
						a.btn_gauger(href="#", data-target="#product-callback", data-toggle="modal", data-mtitle="Вызов замерщика") Вызвать замерщика
			.col-xs-12.col-md-12.col-lg-2.padding-off.hidden-xs
				.row.header-contact
					.col-xs-4.col-sm-3.col-lg-12.header-contact-item
						.row.header-contact-item-info
							.col-xs-4
								img.pull-right.img-icon(src="assets/img/skype.png", title="Skype", alt="Skype")
							.col-xs-8
								.phone-header skype-login
					.col-xs-4.col-sm-3.col-lg-12.header-contact-item
						.row.header-contact-item-info
							.col-xs-4
								img.pull-right.img-icon(src="assets/img/viber.png", title="Viber", alt="Viber")
								img.pull-right.img-icon(src="assets/img/whats_up.png", title="Whats App", alt="Whats App")
							.col-xs-8
								.phone-header +3 097 932 86 19
					.col-xs-12.col-sm-4.col-md-4.col-lg-12.header-contact-item.footer-contact-item-button-show
						.row
							.col-xs-12
								a.btn_gauger(href="#", data-target="#product-callback", data-toggle="modal", data-mtitle="Вызов замерщика") Вызвать замерщика
					.col-xs-4.col-sm-2.col-lg-12.header-contact-item
						button.footer-dropdown-menu.navbar-toggle.collapsed(data-toggle="collapse" data-target="#nav-site-footer" aria-expanded="false")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
			.col-xs-12.col-lg-10.collapse.nav-site#nav-site-footer(aria-expanded="false")
				.row.is-flex.align-center
					.col-xs-12.col-lg-9
						ul.nav
							each item in menu
								if item.text === 'Главная'
									li.active: a(href=item.url)= item.text
								else
									li: a(href=item.url)= item.text
					.col-xs-12.col-lg-3.padding-off.hide-400.footer-contact-item-button-hide
						.row.header-contact
							.col-xs-12.col-md-4.col-lg-12.header-contact-item
								.row
									.col-xs-12
										a.btn_gauger(href="#", data-target="#product-callback", data-toggle="modal", data-mtitle="Вызов замерщика") Вызвать замерщика