-
	var menu = [
		{text: 'Главная', url: '#'},
		{text: 'Серийная мебель', url: 'serial-furniture.html'},
		{text: 'Заказная мебель', url: 'custom-furniture.html'},
		{text: 'Каталог материалов', url: 'catalog-materials.html'},
		{text: 'Сотрудничество', url: 'cooperation.html'}
	];
footer.footer
	.div_footer
		.box-footer-1
			.df-1
				.header-phone.phone-icon-h
					.header-phone-item
						img(src="assets/img/viber.png", title="Viber", alt="Viber")
						img(src="assets/img/whats_up.png", title="Whats App", alt="Whats App")
						span.phone-header.phone-footer  +3 097 932 86 19
			nav.df-2
				ul.header-menu
					each item in menu
						if item.text === 'Главная'
							li: span= item.text
						else
							li.active: a(href=item.url)= item.text
			.df-3
				a.btn_gauger(href="#", data-target="#product-callback", data-toggle="modal", data-mtitle="Вызов замерщика") Вызвать замерщика