section#map-yandex.container
    .row
        .col-xs-12
            .box-index-map
                #map
                    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae19d149e21c163bcbdfb665173c33c95db584d0b8657e8df2559e01a8f35c590&amp;width=1200&amp;height=500&amp;lang=ru_UA&amp;scroll=true")