#product-modal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog.modal-lg(role="document")
        .modal-content
            .modal-header
                button.close(data-dismiss="modal" aria-label="Close"): span(aria-hidden="true") &times;
                .modal-title Modal title
            .modal-body
                p contant
            .modal-footer
                button(type="button") 1
                button(type="button") 2