#product-modal.modal.product-modal.fade(tabindex="-1" role="dialog")
    .modal-dialog.modal-full-width(role="document")
        .modal-content
            .modal-header
                button.close(data-dismiss="modal" aria-label="Close"): span(aria-hidden="true") &times;
                b.modal-title!= 'Цена: <span class="product-price"></span>'
            img.img-responsive.product-modal-thumbnail(src="",alt="")
            .modal-body

                .product-modal-contant
                    .row
                        .col-xs-12.col-md-4
                            p: b!= '<b>Aрт:</b> <span class="product-art"></span>'
                            h4!= '<b>Название:</b> <span class="product-name"></span>'
                        .col-xs-12.col-md-6
                            .product-color-picker
                                b Вибирите цвет:
                                .product-colors
                        .col-xs-12.col-md-2
                            a.btn_gauger(href="#") В корзину
                        .col-xs-12
                            p.product-description
                        .col-xs-12
                            .row
                                .col-xs-3
                                    .rating-container
                                        input.rating(type="hidden", name="product-rating", data-fractions="2")
                                        label.badge
                                .col-xs-3
                                    a.btn_gauger.product-leave-review(href="#") Оставить отзыв
                        .col-xs-12.review-form(hidden="true")
                            form
                                .form-group
                                    label(for="user_name") Ваше имя
                                    input#user_name.form-control(type="text", name="user_name")
                                .form-group
                                    label(for="user_name") Ваш отзыв
                                    textarea#user_review.form-control(type="text", name="user_review")
                                button.btn.btn_gauger(type="submit") Отправить заявку
                            h3 Отзывы