#product-modal.modal.product-modal.fade(tabindex="-1" role="dialog")
    .modal-dialog.modal-lg(role="document")
        .modal-content
            .modal-header
                button.close(data-dismiss="modal" aria-label="Close"): span(aria-hidden="true") &times;
                b.modal-title!= 'Цена: <span class="product-price"></span>'
            img.img-responsive.product-modal-thumbnail(src="",alt="")
            .modal-body
                .product-modal-contant
                    .row
                        .col-xs-12.col-md-4
                            h4.product-heading-stat!= '<b>Aрт:</b> <span class="product-art"></span>'
                            br
                            h4.product-heading-stat!= '<b>Название:</b> <span class="product-name"></span>'
                        .col-xs-12.col-md-6
                            .product-color-picker
                                h4: b Вибирите цвет:
                                .product-colors
                        .col-xs-12.col-md-2.text-center
                            a.btn_gauger(href="#") В корзину
                        .col-xs-12
                            p.product-description
                        .col-xs-12
                            .row
                                .col-xs-12.col-sm-6.col-md-3.text-center
                                    .rating-container.rating-container_center
                                        input.product-rating(type="hidden", name="product-rating", data-fractions="2", readonly)
                                        label.badge
                                .col-xs-12.col-sm-6.col-md-3.text-center
                                    button.btn.btn_gauger.product-leave-review(type="button") Оставить отзыв
                        .col-xs-12.review-form(hidden="true")
                            form
                                .form-group
                                    label(for="user_name") Ваше имя
                                    input#user_name.form-control(type="text", name="user_name")
                                .form-group
                                    label(for="user_review") Ваш отзыв
                                    textarea#user_review.form-control(type="text", name="user_review")
                                div
                                    label(for="rating") Поставить оценку
                                    .rating-container
                                        input#rating.rating-comment(type="hidden", name="product-rating", data-fractions="2")
                                        label.badge
                                button.btn.btn_gauger(type="submit") Отправить заявку
                            h3 Отзывы
                            hr
                            .reviews
                                .rewiew
                                    h4: b Олег
                                    p Bootstrap Rating is a jQuery plugin that creates a rating control that uses Bootstrap glyphicons for rating symbols.
                                    .rating-container
                                        input.rating-static(type="hidden", name="product-rating", data-fractions="2", readonly)
                                        label.badge
                                .rewiew
                                    h4: b Алиса
                                    p Bootstrap Rating is a jQuery plugin that creates a rating control that uses Bootstrap glyphicons for rating symbols.
                                    .rating-container
                                        input.rating-static(type="hidden", name="product-rating", data-fractions="2", readonly)
                                        label.badge
                                .rewiew
                                    h4: b Павел
                                    p Bootstrap Rating is a jQuery plugin that creates a rating control that uses Bootstrap glyphicons for rating symbols.
                                    .rating-container
                                        input.rating-static(type="hidden", name="product-rating", data-fractions="2", readonly)
                                        label.badge