#review-video.modal.fade(tabindex="-1", role="dialog")
    .modal-dialog.modal-lg(role="document")
        .modal-content
            .modal-header
                button.close(data-dismiss="modal" aria-label="Close"): span(aria-hidden="true") &times;
            .modal-body
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(allowfullscreen)