-
    var slides = {

    };
    var n = 0;
.box-index-video-reviews
    .title-video-reviews Отзывы наших клиентов
    .slider-1-out
        .slider1
            while n < 8
                .slide
                    a(href="#" data-prodid=n)
                        img(src="//img.youtube.com/vi/V6mbDhXKBDQ/mqdefault.jpg", width="320", height="180")
                - n++;