.text{
  &-center{
    text-align: center;
  }
  &-right{
    text-align: right;
  }
  &-left{
    text-align: left;
  }
  &-justify{
    text-align: justify;
  }
}
.modal-full-width{
  width: 90%;
}
.wrapper .bx-wrapper .bx-controls-direction a{
  z-index: 1;
}
.pagination-brand{
  li a{
    color: #ffc518;
  }
  .active{
    a{
      background-color: #ffc518;
      border: 1px solid #ffc518;
      &:hover{
        background-color: #ffa900;
      }
    }
  }
}
.padding-off{
  padding-right: 0;
  padding-left: 0;
  @for $i from 1 through 12{
    .col-xs-#{$i},col-sm-#{$i},.col-md-#{$i},.col-lg-#{$i}{
      padding-right: 0;
      padding-left: 0;
    }
  }
  .row{
    margin-right: 0;
    margin-left: 0;
  }
}