@media (min-width: 1200px){
  .container {
    width: 1200px;
  }
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.align-center{
  align-items: center;
}
/*.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}*/
