.btn_gauger {
  background: #ffc518;
  background: -moz-linear-gradient(top, #ffc518 0%, #ffa900 100%);
  background: -webkit-linear-gradient(top, #ffc518 0%,#ffa900 100%);
  background: linear-gradient(to bottom, #ffc518 0%,#ffa900 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc518', endColorstr='#ffa900',GradientType=0 );
  box-shadow: 0 1px 10px 0 rgba(37,23,3,.2);
  padding: 10px 19px;
  font-size: 16px;
  font-family: 'OpenSansRegular', sans-serif;
  text-align: center;
  color: #fff;
  display: block;
  border-radius: 4px;
  text-decoration: none;
}

.btn_gauger:hover {
  color: #fff;
  background: #ffa900;
}