extends layouts/page.pug
block content
    main#main
        .container
            h1.text-center Заказная мебель
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore assumenda quo nisi repellat, delectus voluptate debitis eum ea officia eaque laboriosam, rem, doloremque dicta velit nemo optio, dignissimos numquam porro qui accusamus alias explicabo iure? Deserunt ratione asperiores iusto facere hic facilis a reiciendis, minus, consequuntur modi aliquid vitae necessitatibus, animi accusantium optio, inventore. Asperiores voluptatum eveniet quis odit eos nulla, nisi nobis, pariatur quo, quibusdam ut tempore qui neque cum dolorum architecto nesciunt assumenda porro vel aliquam illo laudantium dolorem. Officiis adipisci eum, fugit consectetur recusandae consequatur accusamus. Nobis maiores, fugiat cumque provident voluptatem rerum perspiciatis laudantium accusantium!
            .row.product-gallery
                - var n = 0;
                while n < 8
                    .col-xs-12.col-sm-6.col-md-3.product-gallery-item
                        a(href="#", data-toggle="modal", data-target="#product-custom-modal", data-product-id="1")
                            img.img-responsive(src="http://nahimebli.com.ua/wp-content/uploads/2014/11/788899901.jpg")
                    - n++;
            .row.text-center
                a.btn_gauger.load-more(href="#") Больше...
    .appendix
block modals
    include partials/modal-product-custom