extends layouts/page.pug
block content
	#content
		.div_content
			.moduleIndex
				h1.center-index-h1 Крутая встраиваемая и корпусная мебель <br>на заказ по цене эконом только в апреле!
				include partials/steps
				include partials/reviews
				include partials/contacts
				include partials/map
	.appendix