extends layouts/page.pug
block content
	main#main
		h1.text-center Крутая встраиваемая и корпусная мебель <br>на заказ по цене эконом только в апреле!
		include partials/steps
		include partials/reviews
		include partials/contacts
		include partials/map
	.appendix
block modals
	include partials/modal-video