<md-card>
  <md-card-header class="weather-card-header">
    <ng-container *ngFor="let item of weather">
      <img class="weather-card-icon" md-card-avatar [src]="doIconPath(item.icon)" [alt]="item.main">
      <div>
        <md-card-title *ngIf="city">Weather in {{city.name}}, {{city.country | uppercase}}</md-card-title>
        <md-card-subtitle>{{item.main}} ,{{item.description}}, {{dt + '000' | date:'medium'}}</md-card-subtitle>
      </div>
    </ng-container>
  </md-card-header>
  <md-card-content>
    <table class="weather-card-table">
      <tr>
        <th class="weather-card-table-data-head">Temperature</th>
        <td class="weather-card-table-data">{{main.temp | celsius}}</td>
      </tr>
      <tr>
        <th>Humidity</th>
        <td>{{main.humidity | celsius:' %':'some else'}}</td>
      </tr>
      <tr>
        <th>Pressure</th>
        <td>{{main.pressure | celsius:' hPa'}}</td>
      </tr>
      <ng-container *ngIf="rain">
        <tr *ngIf="rain['3h']">
          <th>Rain</th>
          <td>{{rain['3h'] |  celsius:' last 3 hours'}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="snow">
        <tr *ngIf="snow['3h']">
          <th>Snow</th>
          <td>{{snow['3h'] |  celsius:' last 3 hours'}}</td>
        </tr>
      </ng-container>
      <tr>
        <th>Wind</th>
        <td>{{wind.speed | celsius:' meter/sec'}} <ng-container *ngIf="wind.deg"> | {{wind.deg | celsius: ' °'}}</ng-container></td>
      </tr>
      <ng-container *ngIf="sys.sunrise">
        <tr>
          <th>Sunrise</th>
          <td>{{sys.sunrise + '000' | date:'H:mm'}}</td>
        </tr>
        <tr>
          <th>Sunset</th>
          <td>{{sys.sunset + '000' | date:'H:mm'}}</td>
        </tr>
      </ng-container>
      <tr *ngIf="clouds">
        <th>Cloudiness</th>
        <td>{{clouds.all | celsius:' %'}}</td>
      </tr>
    </table>
  </md-card-content>
</md-card>
