/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "~flexboxgrid/dist/flexboxgrid.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background-color: mediumaquamarine;
}

.mat-body-1 .md-alert{
  word-wrap: break-word;
  white-space: normal;
}

.mat-body-1 .mat-dialog-container{
  margin-right: auto;
  margin-left: auto;
}

router-outlet + *{
  display: block;
}

.weather-outlet-lvl-1 + *,
.router-animation-fadeIn + *,
.switch-inputs md-form-field,
.mmgFadeIn {
  animation-name: mmgFadeIn;
  animation-duration: 0.3s;
}

@keyframes mmgFadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.mat-body-1 .mat-dialog-container{
  max-width: 90vw;
}