/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "~flexboxgrid/dist/flexboxgrid.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

router-outlet + *{
  display: block;
}

.weather-outlet-lvl-1 + * {
  animation-name: mmgFadeIn;
  animation-duration: 0.3s;
}

@keyframes mmgFadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
