.home{
  &-background{
  	min-height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 475px) {
    	position: static;
      
      padding: 10px;
    }
  }
  &-field-wrapper{

  }
}
.home-card{
  @media screen and (max-width: 475px){
    //min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 340px) {
    
  }
}
.mat-subheading-1{
  color: #cc0000;
}

.row{
  display: flex;
  align-items: center;
}
.home-spinner{
  width: 30px;
  height: 30px;
  padding-left: 30px;
}
.home-actions{
  display: flex;
  flex-wrap: wrap;
  .action-button{
  	margin-bottom: 15px;
  	margin-left: auto;
  	margin-right: auto;
  	@media screen and (max-width: 475px) {
  		width: 100%;
  	}
  }
}
