<div class="home-background">
  <form class="home-field-wrapper" (submit)="checkApiKey($event)">
    <md-card class="home-card">
      <md-card-header>
        <md-card-title><span class="mat-display-1">Welcome to Weather App!</span></md-card-title>
        <md-card-subtitle>
          <div>Enter your API key for gain access to app.</div>
          <div>More info about how to <a md-raised-button target="_blank" color="accent" href="http://openweathermap.org/appid"><md-icon>info</md-icon> get API key</a></div>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div class="row">
          <md-form-field class="col-6">
            <input mdInput name="api_key" placeholder="YOUR API KEY">
          </md-form-field>
          <div class="col-6">
            <md-spinner *ngIf="loading" class="home-spinner" color="primary"></md-spinner>
          </div>
        </div>
        <div class="mat-subheading-1">{{errMessage}}</div>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button color="primary">Check API Key <md-icon>lock_open</md-icon></button>
      </md-card-actions>
    </md-card>
  </form>
</div>
<router-outlet></router-outlet>
