.chart-dialog{
  position: relative;
  overflow: inherit;
  md-card{
    box-shadow: none;
  }
}
.close-btn{
  position: absolute;
  right: 0;
  z-index: 1;
  top: -24px;
}
md-dialog-actions{
  padding: 0;
}
